
/* General Styling */

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

/* End General Styling */

/* Center Ball Styling */

.ball {
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    background-color: #5ed3f3;
}

/* End Center Ball Styling */
